General questions about GPG integration

Hi @ThomasHabets ,

I'm trying to use your application to sign emails with my openpgp key. I did some "send to self" with the -sign switch command but it does't seem like cmdg is recognizing the email as signed at all. I tried to send it to a thunderbird client without luck too. If I get it correctly, the -sign is just a kind of test command and it will not realy work in "real world" operation, will it ?

So, second question that come in mind is how are you generating openpgp email and how to you handle them ? I saw that the decrypt of openpgp message seems to work (when send by a thunderbird client), but the signature stuff is still missing and encryption is not working at all. Did I miss something ? Are you using emacs as the EDITOR and it's built in integration of openpgp stuff ?

I would clearly love to be able to handle all operations in this application but I'm not a go fluent dev :/. and I don't want to write a concurrent application that would do the same but in rust :).

and yes, I'm a vim user (I started with emacs long long long time ago, on low power computers, and quickly switch to vi to be able to quickly work, not waiting emacs to load :) ).


Thanks in advance for your answer.

Caeies.

It's supposed to work. I just sent myself a test email signed, and at least cmdg recognizes its own signed emails. `-sign` is not a test flag.

There are several ways to sign a message, so maybe what cmdg does is not recognized by thunderbird. And/or vice versa.

I'm using emacs, but no I'm not using any integration there. I've never even tried any emacs GPG integration.

I just tried with `VISUAL` set to `vim`, and it worked then too.

Yeah I see all my Go code now as tech debt, as I have seen the light of Rust. :-)

Hi @ThomasHabets ,

Thanks for your feedback.

Ok so I'm missing some obvious things. How do you ask for encryption only or signature only your emails ? I didn't see any key board key mapping to this ? Are you using the | option ? But I don't see anything related to this. I'm running under Ubuntu 22.04 and debian 13.2 with the same behavior.

Thanks again for your help.

Best regards.

And Just to see what happens:

here's a mail source from cmdg as seen by thunderbird : 

```
Subject: Re: test pour la crypto
To: M E <M E @gmail.com>
Content-Type: multipart/mixed; boundary="000000000000321f820647c9a342"

--000000000000321f820647c9a342
Content-Type: text/plain; charset="UTF-8"
Content-Transfer-Encoding: quoted-printable

On Tue, 6 Jan 2026 23:19:22 +0100, M E <M E@gmail.com> sa=
id:
> --------------SwEXSZvVeJJqi0B4XWodMauR
> Content-Type: text/plain; charset=3DUTF-8; format=3Dflowed
> Content-Transfer-Encoding: 8bit
>
> oui =C3=A7a marche.

Mais est-ce crypt=C3=A9 ?

--000000000000321f820647c9a342
Content-Type: application/pgp-signature; name="signature.asc"
Content-Disposition: attachment; filename="signature.asc"
Content-Transfer-Encoding: base64
X-Attachment-Id: 28611671a895540b_0.1

LS0tLS1CRUdJTiBQR1AgU0lHTkFUVVJFLS0tLS0KCmlIVUVBQkVDQURVV0lRVElkYjBleHY1YS9n
[....]
R1RpWE1Ua3BNRG5rYkVRWHRNUkFzPQo9dUJnSwotLS0tLUVORCBQR1AgU0lHTkFUVVJFLS0tLS0K
--000000000000321f820647c9a342--
```

Which is not RFC 3156 or perhaps cmdg is RFC 9580 / RFC 4880 compliant ? (but reading the self signed email is not working or at least I don't see anything saying that the signature is valid).

Hi @ThomasHabets ,

Ok I found a partial answer. The main issue is that the LANG=C.utf8 is not set when starting the gpg binary. This leads to the regex to fail to match and no "clear error" is shown in this case. Retrying with a LANG=C.utf8 cmdg at least allow to view properly  signed message as such in green. I will see if I can to a PR shortly to "fix this".

Then I will dig for the crypto, but perhaps the issue is linked to this too.

Sorry for the delay, and thanks for the PR. I've just been swamped, so I've not even had time to re-acquire state on the gpg integration to give a better answer. Will look at the PR, though.